# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.agents/
.gemini/
.ipynb_checkpoints/

# Environments
.venv/
venv/
ENV/
env/

# OS-specific
.DS_Store
Thumbs.db
